*{
    margin: 0;
    padding: 0;
}

.MainBuy{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50% , rgba(0,0,0,0.5)50% ) , url(6.jpeg) ;
    background-position: center;
    background-size: cover;
    height: 148vh;
}

.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #FF7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left; 
    padding-top: 10px;
}
.menu{
    width: 420px;
    float: left;
    height: 80px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 15px;
    white-space: nowrap;
}

ul li a {
    text-decoration: none ;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #FF7200;
}

.HRbuy{
    width: 100%;
    margin: auto;
    margin-top: 26px;
    border: 1px solid rgba(238, 130, 6, 0.8);
}
.HRbuy1{
    width: 100%;
    margin: auto;
    margin-top: 26px;
    border: 1px solid rgba(238, 130, 6, 0.8);
}
.AboveSearch{
    margin: auto;
    font-size: 35px;
    font-family:'Times New Roman' ;   
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 800px;
}

.search{
    
    margin-left: 480px;
    margin-top: 40px;
    width:1023px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.75);
}


.srch{

    font-family:'Times New Roman' ;
    position:relative;
    margin: auto;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1.2px solid #FF7200;
    color: white;
    font-size: 16px;  
    padding: 10px;
    float: left;
}
.srch1{
    font-family:'Times New Roman' ;
    position:relative;
    margin: auto;
    width: 250px;
    height: 28px;
    background: transparent;
    border: 1.22px solid #FF7200;
    color: white;
    font-size: 16px;  
    padding: 10px;
    float: left;
}

.btn{
    
    width: 200px;
    height: 50px;
    background: #FF7200;
    border: 2px solid #FF7200;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}

.btn:focus{
    outline: none; 

}

.btn:hover{
    background-color: #FFFFFF;
    border: 1px solid #FF7200;

}

.srch:focus{
    outline: none;
}

.SellPlace{
    height: 65%;
    width: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-right: 25%;
    background-color: rgba(0, 0, 0, 0.8);
}
.FirstHalf{
    height: 48%;
    width: 100%;
    
}

.tellUs{
    width: 55%;
    height: 100%;
    float: left;
}

.tellUs1{
    font-size: 25px;
    width: 290px;
    height: 20px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 15px;
}

.tellUs2{
    height: 80%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    margin-top: 25px;
}

.tellUs2 .sellinp{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.8);
}
.Addpic{
    float: right;
    width: 40%;
    height: 100%;
   
}

.Addpic1{
    margin: auto;
    font-size:25px ;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 25%;
}

.Addpic2{
    margin: auto;
    margin-top: 15px;
    margin-left: 0%;
    height: 80%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.8);
}
.SecondHalf{
    width: 100%;
    height: 51%;
   
}
.Bookofcoins{
    float: right;
    height: 70%;
    width: 30%;
    margin: auto;
    margin-right: 6%;
    margin-top: 4%;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}
.Bookofcoins1{
    margin: auto;
    height: 10%;
    width: 90%;
    font-size: 140%;
    margin: auto;
    padding: 3%;
   
    color: #FFFFFF;
}
.Bookofcoins2{
    margin: auto;
    height: 80%;
    width: 90%;
   
    background-color: rgba(0, 0, 0,0.3);
}


.FieldsSell{
    width: 100%;
    height: 90%;
    
    margin: auto;
}

.FieldsSell input{
    margin: auto;
    margin-left: 7%;
    width: 399px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.submit{
    margin: auto;
    width: 100%;
    height: 8%;
    
}
.submit input{
    margin: auto;
    width: 180px;
    height: 35px;
    background: transparent;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: sans-serif;
    border: 1px solid #FF7200;
    border-radius: 7px;
    background-color: #FF7200;
    margin-left: 40%;
    cursor: pointer;
    transition: 0.4s ease;
    font: bold;
}

.btnsubmit:hover{
   background-color: #FFFFFF;
   border: 1px solid #FFFFFF;
}

