*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50% , rgba(0,0,0,0.5)50% ) , url(3.jpeg) ;
    background-position: center;
    background-size:cover;
    height: 109vh;
}
.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-left: 20px;
}

.logo{
    color: #FF7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left; 
    padding-top: 10px;
   
}
.menu{
    width: 420px;
    float: left;
    height: 80px;
    margin-top: 20px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 15px;
    white-space: nowrap;
}

ul li a {
    text-decoration: none ;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #FF7200;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    
}
.srch{
    font-family:'Times New Roman' ;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #FF7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #FF7200;
    border: 2px solid #FF7200;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
    
}
.btn:focus{
    outline: none; 
}
.btn:hover{
    background-color: #FFFFFF;
    border: 1px solid #FF7200;
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #FF7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: #FFFFFF;
}
.content span{
    color: #FF7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #FF7200;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;

}


::placeholder{
    color: white;
    font-family: Arial;

}
.btnn{
    width: 240px;
    height: 40px;
    background: #FF7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #FFFFFF;
    color: #FF7200;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #FF7200;
    transition: 0.7s ease;
}
.form .link a:hover{
    color: #ffffff;
    
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}
.icon a{
    text-decoration: none;
    color: white;
}
.icon ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
    color: #FF7200;
}
.Main_AbousUS{
    width: 800px;
    height: 400;
    margin: auto;
    color: white;
    position: relative;
    margin-top: 150px;
    background: linear-gradient(to top,rgba(56, 56, 56, 0.8),rgba(0, 0, 0, 0.65));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    word-spacing: 1px;
    
}

.ContanctUsField{
    width: 400px;
    height: 700px;
    margin: auto;
    height: 400;
    color: white;
    position: relative;
    padding: 15px;
    margin-top: 70px;
    margin-left: 700px;
    background: linear-gradient(to top,rgba(56, 56, 56, 0.8),rgba(0, 0, 0, 0.7));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    font-family: sans-serif;
    
   
}
.ContactForm input{
    width: 340px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.ContactForm .ContanctReport{

   width: 340px;
   height: 280px;
   border:1px solid #FF7200;
  
}
    
.btnContanct{
    width: 240px;
    height: 40px;
    background: none;
    margin-top: 13px;
    margin-left: 20px;
    border: 2px solid #FF7200;
    font-size: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius:3px ;
    color: #FFFFFF;
    transition: 0.4s ease;
    cursor: pointer;
    font-weight: bold;
}

.btnContanct:hover{
    background:rgba(255, 255, 255, 0.01);
    color: #FF7200;
    font-weight: bold;
}

.Login{
    width: 400px;
    height: 700px;
    margin: auto;
    height: 400;
    color: white;
    position: relative;
    padding: 15px;
    margin-top: 70px;
    margin-left: 100px;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    font-family: sans-serif;
    border: 1px solid #FF7200;
    border-radius: 15px;
}
.Login h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #FF7200;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: auto;
    padding: 8px;
}
.Login input{
    width: 299px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 60px;
    font-family: sans-serif;
   
}

.Login input:focus{
    outline: none;


}
.Login .linkLogin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.Login .linkLogin a{
    text-decoration: none;
    color: #FF7200;
}

.IconForLogin a{
    text-decoration: none;
    color: white;
    margin: auto;
    position: relative;
    margin-left: 20px;

}
.IconForLogin ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.IconForLogin ion-icon:hover{
    color: #FF7200;
}

.BtnLogin{
    width: 240px;
    height: 40px;
    background: #FF7200;
    border: none;
    margin-top: 60px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s ease;
    margin-left: 70px;
}

.BtnLogin:hover{
    background: #FFFFFF;
    color: #FF7200;
}

.BtnLogin a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.linkLogin{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}
.liwLogin{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.LoginMain{
    width: 100%;
    height: 800px;
}
.LoginGraph{
    width: 750px;
    height: 700px;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7));
    position:relative;
    margin-top: -720px;
    margin-left: 1000px;
    border: 1px solid #FF7200;
    border-radius: 15px;
    cursor: pointer;
}

.mainRegister{
    background: linear-gradient(to top,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1));
    width: 900px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
}
.mainRegister h2{
    font-family: sans-serif;
    width: 220px;
    height: 40px;
    text-align: center;
    color: #FF7200;
    border-radius: 10px;
    margin: auto;
    padding-top: 20px;
}



.mainRegister input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 30px;
    margin-left: 40px;
    
}
.mainRegister input:focus{
    outline: none;
}

.TermsExt{
    width: 300px;
    height: 400px;
    margin: auto;
    margin-right: 140px;
    margin-top: -500px;
   background-color: rgba(255, 255, 255,0.3);
   padding: 8px;
   border: 1px solid rgba(0, 0, 0, 0.7);
   border-radius: 15px;
   overflow-y: scroll;
   
    
}

input.TermsCheckbox {
    width: 17px;
    height: 17px;
    margin-right: 15px;
}

label.SpanTermsCheckbox{
   color: #ffffff;
   padding: 8px;
}

.VerifyPhone{
    color: #FFFFFF;
    font-family: Arial;
    height: 130px;
    width: 280px;
    margin: auto;
    border: 1px solid rgba(216, 124, 26, 0.7);
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
}



.AcceptRegister{
    width: 190px;
    height: 40px;
    background: #FF7200;
    border: none;
    margin: auto;
    margin-left: 70px;
    margin-top: 20px;
    padding: 0;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.AcceptRegister a{
    text-decoration: none ;
    color: rgb(0, 0, 0);
}

.AcceptRegister:hover{
    background-color: #FFFFFF;
    border: 1px solid #FF7200;
}