*{
    margin: 0;
    padding: 0;
}

.MainBuy{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50% , rgba(0,0,0,0.5)50% ) , url(4.jpeg) ;
    background-position: center;
    background-size:auto;
    height: 759vh;
}

.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #FF7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left; 
    padding-top: 10px;
}
.menu{
    width: 420px;
    float: left;
    height: 80px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 15px;
    white-space: nowrap;
}

ul li a {
    text-decoration: none ;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #FF7200;
}

.HRbuy{
    width: 100%;
    margin: auto;
    margin-top: 26px;
    border: 1px solid rgba(238, 130, 6, 0.8);
}

.AboveSearch{
    margin: auto;
    font-size: 35px;
    font-family:'Times New Roman' ;   
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 800px;
}

.search{
    margin-left: 480px;
    margin-top: 40px;
    width:950px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.75);
}


.srch{
  
    font-family:'Times New Roman' ;
    position:relative;
    margin: auto;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid #FF7200;
    
    color: white;
    font-size: 16px;  
    padding: 10px;
    float: left;
}
.btn{
    
    width: 200px;
    height: 50px;
    background: #FF7200;
    border: 2px solid #FF7200;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
   
    
}
.btn:focus{
    outline: none; 
}
.btn:hover{
    background-color: #FFFFFF;
    border: 1px solid #FF7200;
}
.srch:focus{
    outline: none;
}

.TableBuyDiv{
    width: 60%;
    height:90%;
    background: linear-gradient(to top,rgba(56, 56, 56, 0.9),rgba(0, 0, 0, 0.4));
    margin: auto;
    margin-top: 50px;
    margin-left: 25%;
    display: table;
    
}

.TR2{
    display: table;
    width: 100%;
    height: 1.975%;
    border: 1px solid #ffffff;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.1) ;
    display: flex;
}
.TR1{
    display: table;
    width: 100%;
    height: 1.97569%;
    border: 1px solid #ffffff;
    margin: auto;
    margin-top: 5px;
    background-color:rgba(255, 255, 255, 0.1) ;
    display: flex;
}

.column{
    height: 100%;
    width: 53.33%;
    float: left;
    background-color:rgba(255, 255, 255, 0.5) ;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.column1{
    height: 100%;
    width: 33.33%;
    float: left;
    background-color:rgba(255, 255, 255, 0.5) ;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
   
.column2{
    height: 100%;
    width: 20%;
    float: left;
    background-color:rgba(255, 255, 255, 0.5) ;
}

.BUYAdvertisements{ 
    width: 180px;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.5);
    float: left;
    position: fixed;
    margin: auto;
    margin-top: 45px;
}

.ScLastP{
    margin: auto;
    margin-top: 100px;
    width: 220px;
    height: 40px;
  
}
.cn{
    width: 100px;
    height: 40px;
    background: #FF7200;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    transition: .4s ease;
    float: right;
    border: 1.5px solid #ffffff;
    margin-right: 5px;
    
}
.cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: #FFFFFF;
}

.container{
    float: left;
    text-align: center;
    position: relative;
    height: 90%;
  }

.BUYAdvertisements{

    font-size:3rem;
    position: sticky;
    top: 100px;
    background-color:rgba(255, 255, 255,0.5);
    height: 700px;
    width: 140px;
    font-size: 20px;
}